html {
	background: #f1f1f1;
}

body {
	background: #fff;
	color: #444;
	font-family: "Open Sans", sans-serif;
	margin: 2em auto;
	padding: 1em 2em;
	max-width: 700px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.13);
	box-shadow: 0 1px 3px rgba(0,0,0,0.13);
}

body:before {
	content: none;
}

h1 {
	border-bottom: 1px solid #dadada;
	clear: both;
	color: #666;
	font: 24px "Open Sans", sans-serif;
	margin: 30px 0 0 0;
	padding: 0;
	padding-bottom: 7px;
}
#error-page {
	text-align: center;
	margin-top: 50px;
}
#error-page p {
	font-size: 14px;
	line-height: 1.5;
	margin: 25px 0 20px;
}
#error-page code {
	font-family: Consolas, Monaco, monospace;
}
ul li {
	margin-bottom: 10px;
	font-size: 14px ;
}
a {
	color: #0073aa;
}
a:hover,
a:active {
	color: #00a0d2;
}
a:focus {
	color: #124964;
    -webkit-box-shadow:
    	0 0 0 1px #5b9dd9,
		0 0 2px 1px rgba(30, 140, 190, .8);
    box-shadow:
    	0 0 0 1px #5b9dd9,
		0 0 2px 1px rgba(30, 140, 190, .8);
	outline: none;
}
.button {
	background: #f7f7f7;
	border: 1px solid #ccc;
	color: #555;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;

	-webkit-box-shadow: 0 1px 0 #ccc;
	box-shadow: 0 1px 0 #ccc;
 	vertical-align: top;
}

.button.button-large {
	height: 30px;
	line-height: 28px;
	padding: 0 12px 2px;
}

.button:hover,
.button:focus {
	background: #fafafa;
	border-color: #999;
	color: #23282d;
}

.button:focus  {
	border-color: #5b9dd9;
	-webkit-box-shadow: 0 0 3px rgba( 0, 115, 170, .8 );
	box-shadow: 0 0 3px rgba( 0, 115, 170, .8 );
	outline: none;
}

.button:active {
	background: #eee;
	border-color: #999;
 	-webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
 	box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
 	-webkit-transform: translateY(1px);
 	-ms-transform: translateY(1px);
 	transform: translateY(1px);
}

.submit-button {
	margin: 10px;
}

.error {
	font-size: 14px;
	color: red;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: 0.375em;
	width: 100%;
}

#password-strength {
	display: block;
	width: 100%;
	margin: 10px 0;
	font-weight: bold;
	border: 1px solid;
}

#password-strength.strong {
	background-color: #c1e1b9;
	border-color: #83c373;
	opacity: 1;
}

#password-strength.short {
	background-color: #c4000a;
	border-color: #83000a;
	color: white;
	opacity: 1;
}

#password-strength.bad {
	background-color: #e42423;
	border-color: #a31d1d;
	color: white;
	opacity: 0.8;
}

#password-strength.good {
	background-color: #ffdc00;
	border-color: #ac9300;
	opacity: 0.8;
}